# Pathway commons
pathwaycommons.url=http://www.pathwaycommons.org/pc2/

# Pre-calculated networks and gene info
cache.folder=data/cached

# BioGene
biogene.url=http://cbio.mskcc.org/biogene/

# Cocitation manager
# If the number of co-citations for a node/edge is below the threshold, pcviz won't show those
cocitation.min.edge=0
cocitation.min.node=0

# mapping util
#http://www.genenames.org/cgi-bin/hgnc_downloads?col=gd_app_sym&col=gd_aliases&col=md_prot_id&status=Approved&status_opt=2&where=&order_by=gd_hgnc_id&format=text&limit=&hgnc_dbtag=on&submit=submit
hgnc.location=file:data/hgnc.txt
autoCompleteResult.limit=10

#http://www.genenames.org/cgi-bin/download?col=gd_app_sym&col=gd_pub_eg_id&status=Approved&status_opt=2&where=&order_by=gd_app_sym_sort&format=text&limit=&hgnc_dbtag=on&submit=submit
ncbigene.location=file:data/ncbigene.txt

# PCViz self URL (for the link in the iframe to embed into other sites)
pcviz.url=http://www.pathwaycommons.org/pcviz/

# optionally, change the http port
server.port=8080

# do not change
spring.mvc.view.prefix=/
spring.mvc.view.suffix=.jsp

