.todo li {
    background-color: #ECF0F1;
}

.todo-name {
    color: #BDC3C7;
}

.todo li.todo-done {
    background-color: #2c3e50;
}

.pcviz-logo {
    font-size: 48px;
}

.pcviz-logo small {
    color: #ECF0F1;
}

#main-network-view {
    height: 550px;
    border: 1px solid #ddd;
    margin: 1em 0;
    overflow: hidden !important;
    border-radius: 0.25em;
    margin: 0.25em;
}

#main-network-view {
    float: left;
    width: 99%;
}

#graph-settings {
    padding-left: 10px;
    padding-right: 10px;
}

.share-label {
    width: auto;
}

.ui-slider {
    margin-bottom: 10px;
}

#rightMenuControls a {
    font-size: 15px;
    text-decoration: none;
}

#rightMenuTabs {
    height: 550px;
}

.demo-panel-title {
    margin-bottom: 6px;
}

.mainview {
    margin-bottom: 10px;
}

.tag {
    text-transform: uppercase;
}

.help-text {
    margin-top: 50px;
    margin-bottom: 0px;
    text-transform: none;
    font-size: 115%;
}

.help-slider-text {
    margin-bottom: 0px;
    text-transform: none;
    padding: 10px;
}

.expand-view {
    font-size: 120%;
}

.expand-view i {
    font-size: 80%;
}

.ui-cytoscape-panzoom {
    z-index: 1000;
}

#fullscreen-network-view {
    width: 97%;
    height: 97%;
    border: 1px solid gray;
}

footer {
    margin-top: 20px;
}

.error-tag {
    background: #e74c3c !important;
}

.warn-tag {
    background: #f1c40f !important;
}

.ok-tag {
    background: #1abc9c !important;
}

.edge-types {
    margin-top: -10px;
    margin-right: 0px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.edge-types-title {
    margin-bottom: 5px;
}

.label {
    text-shadow: none;
}

.itx-type-on-off {
    color: #ffffff;
    padding: 8px;
    border-radius: 0;
    -moz-border-radius: 0;
    font-weight: normal;
    margin-left: 10px;
}

.controls-state-change-of {
    background-color: #2980B9 !important;
}

.in-complex-with {
    background-color: #34495E !important;
}

.interacts-with {
    background: #000000 !important;
}

.controls-expression-of {
    background-color: #2ECC71 !important;
}

.controls-degradation-of {
    background-color: #D35400 !important;
}

.catalysis-precedes {
    background-color: #9B59B6 !important;
}

.itx-removed {
    background-color: #BDC3C7 !important;
}

.edge-types .fui-cross-16 {
    font-size: 8px;
}

.edge-types .fui-plus-16 {
    font-size: 8px;
}

.itx-type-on-off {
    cursor: pointer;
}

.noty-itx-type {
    padding: 3px;
    color: #ffffff;
}

/* jQuery fixes */
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    border: 0;
    background: #1abc9c;
    font-weight: bold;
    color: white;
}

.ui-widget-header {
    background: #16A085;
}

.badge, .label {
    text-shadow: none;
    line-height: normal;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    padding: 8px;
    font-weight: normal;
}

.add-gene-to-network {
    font-size: 11px;
    padding: 3px;
}

.network-controls .btn {
    background: #bdc3c7;
    font-size: 16px;
}

.network-controls .btn:hover {
    background: #16A085;
}

.center {
    text-align: center;
}

.download-options {
    padding: 30px
}

.network-controls .active {
    background: #16A085;
}

.download-detailed {
    font-size: 15px;
    padding: 12px;
}

.pcviz-headline {
    cursor: pointer;
}

.edge-summary {
    font-size: 115%;
    padding: 10px !important;
}

.type-actual-text {
    margin-right: 5px;
}

.slider-control i {
    text-decoration: none;
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
}

.nodes-slider-container {
    width: 210px;
}


#step1 .dk_options {
    width: auto;
    max-height: none;
}

#step1 .dk_label {
    padding-right: 15px;
}

#step1 .dk_options_inner {
    width: auto;
    max-height: none;
}

#step1 .dk_toggle {
    width: 190px;
}

#context-load-button {
    width: 100%;
    padding: 15px;
}

#cancer-context-dialog {
    text-align: left;
    width: 250px;
}

#step-loading {
    margin-top: 20px;
    text-align: center;
}

.cbioportal {
    font-size: 16px;
    padding: 10px;
}

.cbioportal i {
    font-size: 14px;
}

/* Embed */
#embed-network-view {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
}

#network-embed-container {
    padding-bottom: 35px;
}

#embed-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

#pcviz-footerline {
    height: 35px;
    padding: 5px;
    padding-top: 10px;
}

h4.pcviz-embed-logo {
    padding-left: 10px;
    font-size: 24px;
    cursor: pointer;
}

h4.pcviz-embed-logo small {
    color: white;
}

.embed-options {
    padding: 20px;
}

.embed-preview {
    text-align: center;
}

.nodes-slider-container {
    padding-top: 10px;
}

.minus-sign-container {
    padding-right: 5px;
}

#sbgn-main-network {
    border: 1px solid #424242;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
    border-radius: 0.25em;
    float: left;
    width: 99%;
}

#sbgn-network-loading{
    border: 1px solid #424242;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
    border-radius: 0.25em;
    float: left;
    width: 99%;
}

#sbgnRightMenu a {
    font-size: 15px;
    text-decoration: none;
}

.highlight {
    border-color: '#f00';
}

#sbgnTabs {
    height: 97%;
}

.listView {
     margin:10px !important;
}

