# Pathway commons
pathwaycommons.url=http://www.pathwaycommons.org/pc2/

# BioGene
biogene.url=http://cbio.mskcc.org/biogene/
biogene.format=json

# iHop
ihop.url=http://www.ihop-net.org/UniPub/iHOP/

# Cocitation manager
cocitation.shelflife=30
cocitation.cache.folder=/tmp/cocitations

# Pre-calculated networks and screenshots
precalculated.folder=/tmp/precalculated

# If the number of co-citations is below is this number, don't show it
cocitation.min.edge=0
cocitation.min.node=0

# mapping util
#http://www.genenames.org/cgi-bin/hgnc_downloads?col=gd_app_sym&col=gd_aliases&col=md_prot_id&status=Approved&status_opt=2&where=&order_by=gd_hgnc_id&format=text&limit=&hgnc_dbtag=on&submit=submit
hgnc.location=file:/tmp/hgnc.txt
autoCompleteResult.limit=10

#http://www.genenames.org/cgi-bin/download?col=gd_app_sym&col=gd_pub_eg_id&status=Approved&status_opt=2&where=&order_by=gd_app_sym_sort&format=text&limit=&hgnc_dbtag=on&submit=submit
ncbigene.location=file:/tmp/ncbigene.txt

# CBioPortal
cbioportal.cache.folder=/tmp/cocitations/portal

# PCViz self URL (for the link in the iframe to embed into other sites)
pcviz.url=http://www.pathwaycommons.org/pcviz/

# UniProt Base URL for extracting descriptions
uniprot.base.url=http://www.uniprot.org/

# PC2 data version specific blacklist of ubiquitous small molecules (used by SIF converter)
blacklist.location=file:/tmp/blacklist.txt
